$colors: (
    "primary": #001f5a,
    "secondary": #d68d00,
    "white": #ffffff,
    "light-primary": #1375b2,
    "gray": #aab1b6,
    "warning": #d89108,
    "success": #53a52b,
    "black": #000000,
    "yellow": #fbd243
);

$base-spacing-1: 0.25em;
$base-spacing-2: 0.75em;
$base-spacing-3: 1em;
$base-spacing-4: 1.25em;
$base-spacing-5: 1.75em;
$base-spacing-6: 2em;

$border-radius: 2em;
