.font--bold {
    font-family: Montserrat;
    font-weight: 600;
}

.font-size--sm {
    font-size: 0.75rem;
}

.text--italic {
    font-style: italic;
}

.text-align--center {
    text-align: center;
}

.cursor--pointer {
    cursor: pointer;
}